@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
.navbar-nav > .dropdown > .dropdown-menu {
  left: 0;
  right: auto;
}
/* Enable dropdown on hover */
.navbar-nav > .dropdown:hover > .dropdown-menu {
  display: block;
}

/* Optional: Add a little delay and styling */
.navbar-nav > .dropdown > .dropdown-menu {
  transition: all 0.2s ease;
  margin-top: 0;
}

.client-section {
  margin-bottom: 100px;
  padding-top: 80px;
  border-bottom: 1px solid #eee;
}
